<div class="hero-unit">
<h1>Aktualności</h1>

<%= link_to("dodaj nowego workshopa", {:action => 'new'}, {:class =>'btn btn-mini btn-primary'}) %>

<p style='text-align: right;'>Ilość workshopów: <%= @workshop.size %> </p>

<table class="table table-striped table-bordered">
	<tr class="info">

		<th>pozycja</th>
		<th>nazwa</th>
		<th>zdjęcie</th>
		<th>plik do pobrania</th>
		<th>akcja</th>
	</tr>
<% @workshop.each do |workshops| %>
	<tr>

		<td><%= workshops.position %></td>
		<td><%= link_to workshops.name, {:action => 'show', :id => workshops.id} %></td>
		<td><%= image_tag workshops.img.url(:thumb) %></td>
        <td ><% if !workshops.file.blank? %>
             dodano
          <% else %>
            brak
          <% end %>
    </td>	

		<td class="action">   
			<%= link_to("edycja", {:action => 'edit', :id => workshops.id}, {:class => "btn btn-xs btn-warning"}) %>
			<%= link_to("usuń", {:action => 'delete', :id => workshops.id}, {:class => "btn btn-xs btn-danger"}) %>
		</td>
	</tr>

	<% end %>

</table>

</div>