<!DOCTYPE html>
<html>
<head>
  <title>Otczapy Teatr</title>
  <%= favicon_link_tag '/assets/eye_round.png' %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grupa Treatralna Otczapy, pod berłem Elżbiety Górczyńskiej" />
	<meta name="keywords" content="Otczapy, WOK, teatr, Jamy, opowieści, Śpiąca Królewna, Górczyńska, Olszewski, Wiącek, Figas, Barwinek, Piechnik" />
</head>

<body>
  
<%= render(:partial=>"navigation") %>
<%= render(:partial=>"locale") %>

<%= render(:partial=>"sliderMain") %>

<%= yield %>

<%= render(:partial=>"who") %>


<%= render(:partial=>"team") %>


<%= render(:partial=>"gallery") %>

<%= render(:partial=>"links") %>

<%= render(:partial=>"quickContact") %>   

<%= render(:partial=>"footer") %>

<script src="http://anijs.github.io/lib/anijs/anijs-min.js"></script> 
</body>
</html>